@tailwind base;
@tailwind components;
@tailwind utilities;


CSS  is here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(116, 163, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fcf5f5, #eff4fd);
}
